html {
    height: 100%;
    width: 100%;
    
}

body {
    height: 100%;
    width: 100%;
    background-color:rgb(226, 236, 181);
    scroll-behavior: auto;
}

/* Header/logo Title */
.header {
    text-align: center;
    padding: 60px;
    background: #1abc9c;
    color: white;
    font-weight: 300;
}

.header-left {
    margin-top: -15px;
    margin-left: 10px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

.navbar a:right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a:active {
    background-color: rgb(167, 20, 20);
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: column;
}

h2 {
    color:blue;
}

.dropbtn {
    background-color: #ee7dcc;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    margin-left: 95%;
    margin-top: -5%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    text-align: center;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
main{
    flex: 70%;
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Fack image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 40%;
    padding: 20px;
    margin-top: 50px;
    margin-left: 30%;
}

.fakeimg2 {
    background-color: #aaa;
    width: 40%;
    padding: 20px;
    float: left;
    margin-left: 30%;
    margin-top: 50px;
}

.fakeimg3 {
    background-color:cyan;
    width: 40%;
    padding: 20px;
    margin-left: 30%;
    margin-top: 50px;
}

.footer {
    margin-top: 20%;
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.last-class {
    margin-top: 10%;
    margin-left: 10%;
}

/* Resposive layout - when the screen is less than 700px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the scree is less than 400px wide, make the navigation links 
stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

} 