html {
    height: 100%;
    width: 100%;
    
}

body {
    height: 100%;
    width: 100%;
    background-color:rgb(226, 236, 181);
    scroll-behavior: auto;
}

/* Header/logo Title */
.header {
    text-align: center;
    padding: 60px;
    background: #1abc9c;
    color: white;
    font-weight: 300;
}

.header-left {
    margin-top: -15px;
    margin-left: 10px;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a:active {
    background-color: rgb(167, 20, 20);
    color: white;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: column;
}

h2 {
    color:blue;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    margin-left: 30px;
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
main{
    flex: 70%;
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Fack image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 40%;
    padding: 20px;
    float: right;
    margin-top: 10%;
}

.fakeimg2 {
    background-color: #aaa;
    width: 40%;
    padding: 20px;
    float: left;
}

.fakeimg3 {
    background-color:cyan;
    width: 40%;
    padding: 20px;
    margin-left: 30%;
}

.footer {
    margin-top: 20%;
    padding: 20px;
    text-align: center;
    background: #ddd;
}

/* Resposive layout - when the screen is less than 700px wide, make the two
columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Responsive layout - when the scree is less than 400px wide, make the navigation links 
stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {

} 