html {
    height: 100%;
    width: 100%;
    color:red;
}

body {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color:rgb(226, 236, 181);
    scroll-behavior: auto;
}

header {
    padding: 80px;
    background: #1abc9c;
    color: white;
}

h1 {
    color: blue;
}

h2 {
    color:darkseagreen;
    text-align: center;
}