h2 {
    text-align: center;
    color: lawngreen;
    font-size: 50px;
    height: 40%;
}

header {
    height: 20%;
    width: 100%;
    opacity: 0.4;
    margin: 10px;
}

body {
    text-align: center;
    background-color:rgb(255, 255, 255);
    color: rgb(206, 20, 14);
    font-size: 25px;
}